@model C2C.UI.ViewModels.UserProfileViewModel
@{
    Layout = "~/Views/Shared/_NavLayout.cshtml";
    string displayName = (string.IsNullOrEmpty(Model.FirstName) && string.IsNullOrEmpty(Model.LastName)) ? User.Identity.Name : string.Format("{0} {1}", Model.FirstName, Model.LastName);
}

@if (Model != null && Model.Id > 0)
{
    <section class="article-content">        
        <div class="profile-heading">
            <h3 class="u-name">@displayName</h3>
            <a class="textTransform" href="/profile/edit/@Model.Id">Edit Profile</a>
        </div>

        <div class="profile-wrapper">

            <div class="profile-picture">
                <div class="profile-pictureWrapper">
                    <img src="@Model.ProfilePhoto" width="205px" height="190px">
                </div>
            </div>

            <div class="profile-info">
                <form>
                    <div class="formWrapper">
                        <label for="name">First Name :</label>
                        <div class="collName">@Model.FirstName</div>

                        <!--<input class="required" id="ID" type="text" name="ID" >-->

                        <label for="fname">Last Name :</label>
                        <div class="collName">@Model.LastName</div>

                        <label for="mname" class="fix profilecollege">College :</label>
                        <div class="collName">@Model.College</div>
                    </div>
                </form>
            </div>

        </div>

    </section>
}

@section subMenu{
    <div id="sub-menu-items" class="back-btn">

        <a href="javascript: history.go(-1)" class="bck-btn">
            <img src="/content/themes/base/images/back.png" height="22" width="24">
        </a>

        <ul class="child">
            <li class="first"><a href="#">My Profile</a></li>
            <!--<li><a href="archive.html">Archive</a></li> -->
        </ul>

    </div>
}

<link href="~/Content/themes/base/styles/menu.css" rel="stylesheet" />
